<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.example.downloaderdemo"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".EuroPMCApplication"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
        </activity>

        <!-- QuerySuggestionProvider -->
        <provider
            android:authorities="com.example.downloaderdemo.util.QuerySuggestionProvider"
            android:name="com.example.downloaderdemo.util.QuerySuggestionProvider"
            android:exported="false"/>

    </application>

</manifest>
